:root {
    --dark-bg: #1F2937;
    --logo-main: #F9FAF8;
    --link-text: #E5E7EB;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--dark-bg)
}

header nav {
    justify-self: flex-end;
    font-size: 18px;
    
}

nav a {
    text-decoration: none;
    color: var(--link-text);
    padding: 8px;
}

header p {
    font-size: 24px;
    color: var(--logo-main);
    font-weight: 800;
}